@{
    ViewData["Title"] = "My Portal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2> Welcome To Your Portal @ViewBag.Name!</h2>
<p>
    The Zedan Meadows Portal is under Phase 1 development which includes creating and implenting portal functionality for possible and forseeable actvities required by a stable. This phase will mostly include backend development and will only implement basic User Interfaces and menus.
</p>
<p>
    Phase 2 of development will focus on redeveloping some backend components to simplify further development and future maintenance as well as begin structuring the frontend design for the portal.
</p>
<p>
    Phase 3 will revolve around frontend development to simplify User Interfaces as well as finalize the overall look of the portal.
</p>


<script language="javascript">
    var menuItem = document.getElementById("MyPortal").className = "active";
</script>