body {
    padding-top: 45px;
    padding-bottom: 20px;
    background-image: url("../media/Backgrounds/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1800px;
}

.padded{
    padding: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.panel-main {
    margin-top: 15px;
    min-width: 1000px;
}

.panel-empty {
    min-height: 300px;
}

.panel-side {
    margin-top: 15px;
}

.section-modifiedby {
    padding-top: 15px;
}

.form-control {
    margin-bottom: 10px;
}

.user-rights {
    margin-left: 15px;
    margin-right: 15px;
}

.action-buttons {
    margin-top: 30px;
}

.Header-SideMenu {
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-bottom: hidden;
    border-width: 1px;
    font-weight: 500;
    color: white;
}

.SideMenu-SubItem {
    padding-left: 45px;
    background-color: #3A3F44;
}

.Negative-Value a {
    color: red;
}

.panel-heading {
    color: white;
}

.panel-myanimal {
    background-color: #F8F5F0;
}


.animal-button {
        margin-top:auto;
        margin-bottom:auto;
}

.user-list-checkbox{
    padding-left:15px;
}
