@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <!--https://agsci.oregonstate.edu/sites/agscid7/files/styles/header_1200_x_400/public/osu_horse_center.jpg?itok=qRVd6vyj-->
                <img src="~/media/Gallery/overview/overview.jpg" class="img-responsive" />
            </div>
        </div>
        <br />
        <div class="section">
            <p>
                Phasellus quis nisi id felis convallis consequat. Pellentesque ut pretium felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin condimentum orci nec velit varius tempor. Nullam nibh leo, tempor eu neque eget, pharetra tempor risus. Nulla sed augue bibendum, dictum augue et, tristique eros. In porttitor ultrices velit. Fusce in rutrum sapien, id semper eros.
            </p>
            <p>
                Nunc eu imperdiet lacus. Nunc pretium mi quis eleifend facilisis. Praesent arcu elit, feugiat vitae convallis ac, euismod at dolor. Vestibulum blandit nibh velit, nec congue lorem posuere sit amet. Quisque augue lectus, euismod at venenatis quis, sodales a nunc. Nunc libero quam, consequat non est eget, laoreet feugiat lacus. Cras posuere lorem ut eros sagittis, sit amet dictum sem congue. In hac habitasse platea dictumst. Nunc non nisl feugiat, ullamcorper dolor vulputate, laoreet ligula. Praesent ullamcorper quis ex eget tincidunt. Nam sagittis accumsan bibendum. Fusce sagittis purus eget turpis eleifend lobortis. Etiam ac mi ut nisl feugiat vestibulum. Fusce eros neque, condimentum sit amet augue ut, mollis maximus lacus. Nulla at diam justo. Cras non condimentum libero, ac facilisis velit.
            </p>
            <p>
                Sed sit amet lectus ipsum. Fusce ultricies lobortis lacus vel volutpat. Vestibulum posuere nec tortor nec placerat. Nunc luctus mi a luctus tincidunt. Suspendisse vel magna tristique, elementum purus id, elementum magna. Vivamus eu libero ex. Sed consectetur lobortis tincidunt. Aenean nec venenatis massa, et fringilla ex. Sed porta imperdiet dui, eu cursus diam. Praesent massa ipsum, ultrices nec dolor quis, facilisis blandit dui. Nullam pulvinar sollicitudin lacus non vehicula. In pellentesque nec ex ut euismod. Duis nibh sapien, mollis non ex id, elementum accumsan nibh. Vivamus laoreet viverra sem sed hendrerit.
            </p>
            <p>
                Phasellus vulputate molestie diam nec ultricies. Aliquam erat volutpat. Fusce posuere bibendum orci quis fringilla. Vivamus ligula sapien, consectetur eget ligula ut, egestas rutrum magna. Nam facilisis nisl elit. Proin bibendum blandit ante, non posuere velit rutrum non. Integer cursus erat nec ex suscipit pellentesque. Nullam suscipit turpis at nisl mattis tristique. Integer mollis urna vel iaculis consequat. Aliquam pretium enim nibh, eget ultricies lacus suscipit vel. Sed nec lacus est. Donec eget magna eget ligula placerat mollis aliquam ac elit. Aenean faucibus, justo vitae condimentum ultrices, metus metus bibendum tellus, a gravida leo ipsum in quam. Aenean maximus, lacus eu varius eleifend, nibh erat iaculis lacus, id facilisis mauris est quis orci. Nullam nec enim nisi.
            </p>
        </div>
    </div>

</div>
