
@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<div class="row">
    <div class="container col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Gallery">General</a></li>
        </ul>
    </div>
    <div class="container-fluid col-lg-9 col-md-9 col-sm-8 col-xs-8">


        <div class="panel panel-default">
            <div class="panel-heading">General Pictures</div>
            <div class="panel-body row">
                <img src="~/media/Gallery/General/Opec1.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/General/Zedan1.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Arena/Indoor.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Arena/Outdoor.png" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Boarding/Indoor.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Boarding/outdoor.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Boarding/Paddocks.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Events/HorseShow1.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Events/SchoolTrip.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
                <img src="~/media/Gallery/Events/Seasonal-Xmas.jpg" class=" col-lg-3 col-md-3 col-sm-4 col-xs-8 img-responsive padded" />
            </div>
        </div>


    </div>
</div>
