@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="container-fluid">
        <img src="~/media/Banners/Banner1.jpg" class="img-responsive" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome</h2>
        <p>
            Welcome to Zedan Meadows. Please see other sections for more information.
        </p>


    </div>

</div>
