
@{
    ViewBag.Title = "Services and Facilities - Boarding";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesOverview">Overview</a></li>
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="ServicesBoarding">Boarding</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesArena">Arena</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesCoaching">Coaching</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="ServicesEvents">Events</a></li>
        </ul>
    </div>
    <div class="container-fluid col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">Boarding</div>
            <div class="panel-body">
                <div class="section">
                    <h4>Indoor Boarding</h4>
                    <div class="col-lg-5">
                        <!--https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/H%C3%A4ststall_Elfviks_g%C3%A5rd_dec_2008.jpg/1200px-H%C3%A4ststall_Elfviks_g%C3%A5rd_dec_2008.jpg-->
                        <img src="~/media/Gallery/Boarding/Indoor.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Phasellus semper volutpat ante, sit amet maximus erat maximus quis. Duis sit amet ligula eleifend orci cursus elementum nec a elit. Pellentesque sed lorem a dolor volutpat iaculis. Duis ut nisl congue, sagittis enim eu, consectetur dolor. Aenean dui purus, sollicitudin lobortis nibh sed, faucibus tincidunt erat. Nam sed pellentesque purus, sit amet tempor metus. Phasellus eu convallis nisl, sed congue lacus. Duis commodo urna sed neque vestibulum facilisis. Duis bibendum tellus vel leo tristique, scelerisque tincidunt lacus imperdiet. Duis in varius lacus. Phasellus aliquam diam nec lacus interdum malesuada. Integer in justo ultricies, elementum ex ac, luctus ex. Vestibulum nisl arcu, aliquam eu leo aliquam, egestas euismod nisi. Phasellus consequat est eu commodo venenatis. Vivamus laoreet pretium sem, quis bibendum lacus accumsad.
                    </p>
                    <p>
                        Nulla bibendum in purus vitae elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu pulvinar dui, a porttitor tellus. Sed vel libero eget urna gravida egestas condimentum sit amet mauris. Sed dolor magna, eleifend sit amet eleifend vitae, luctus at enim. Nulla ut feugiat sem. Phasellus id velit consequat, pretium lectus non, hendrerit leo. Donec convallis posuere euismod. Ut consectetur venenatis diam, sed tincidunt arcu congue ac. Maecenas a ligula a mi tincidunt sagittis sit amet sed ligula. Sed egestas, ante vestibulum tristique lacinia, felis dolor hendrerit sapien, sit amet facilisis mi dui at orci. Sed fringilla tincidunt nunc eu elementum. Nullam quam sapien, efficitur ut metus ut, congue aliquam nibh. Pellentesque eu dolor dolor. Nam a euismod nisi, non venenatis turpis.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Indoor Arena</h4>
                    <div class="col-lg-5">
                        <!--https://static1.squarespace.com/static/56cc26c98259b5d1a025a426/t/59db84663e00beb58c5d6fab/1507558547622/rugged-horses-in-field-->
                        <img src="~/media/Gallery/Boarding/outdoor.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Pellentesque eget augue ac metus tempus pulvinar a et dolor. Morbi sit amet scelerisque turpis. Donec venenatis ex et ornare consectetur. In sagittis accumsan libero et varius. Proin leo lectus, commodo eget iaculis in, sagittis ut elit. Ut tristique odio ac massa vulputate varius ultricies id odio. Nullam in ultricies dui.
                    </p>
                    <p>
                        Pellentesque porta bibendum blandit. Duis id eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed quis erat turpis. Praesent eu velit leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. In quis finibus velit. Maecenas erat mi, aliquam eget lobortis at, sodales vel enim. Maecenas malesuada vitae quam quis luctus. Morbi non elementum leo, eu tempor neque. Suspendisse potenti. Sed tristique, libero ac lobortis dictum, ante nibh imperdiet dui, et viverra felis leo id purus. Nullam consectetur lacus non sem tempor ullamcorper.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Paddocks</h4>
                    <div class="col-lg-5">
                        <!--https://www.horseguardfence.com/shop/img/us2007_1803.jpg-->
                        <img src="~/media/Gallery/Boarding/Paddocks.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Quisque congue erat neque, eu vehicula nisl vestibulum sed. Vestibulum luctus ac dui eget tempus. Donec dictum imperdiet vestibulum. Etiam non sapien in orci laoreet dignissim nec id nunc. Phasellus auctor lectus nec molestie maximus. Sed pretium ex vitae nibh commodo finibus. Nam at odio nibh. Proin fringilla mi aliquet ligula dictum, et luctus enim mollis. Phasellus vel sodales nunc. Quisque eu ante at libero tristique tincidunt. Etiam tincidunt non sem in accumsan. Ut semper commodo neque tincidunt mattis. Mauris rutrum convallis urna. Praesent sed est in odio consequat ultrices. Ut id ex mauris. Maecenas ut libero nec nisl porta malesuada.
                    </p>
                    <p>
                        Proin at nibh ac arcu malesuada hendrerit ac gravida sem. Sed in lectus luctus, fringilla nunc nec, condimentum elit. Proin faucibus magna eu orci elementum luctus. Ut egestas sodales finibus. Sed augue turpis, pulvinar in tellus non, consectetur eleifend orci. Praesent efficitur quam urna, et suscipit urna elementum nec. Sed imperdiet posuere volutpat. Vivamus ac hendrerit nunc.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
