
@{
    ViewBag.Title = "Services and Facilities - Arena";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesOverview">Overview</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesBoarding">Boarding</a></li>
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="ServicesArena">Arena</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesCoaching">Coaching</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="ServicesEvents">Events</a></li>

        </ul>
    </div>
    <div class="container-fluid col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">Arena</div>
            <div class="panel-body">
                <div class="section">
                    <h4>Outdoor Arena</h4>
                    <div class="col-lg-5">
                        <!--https://martincollinsusa.com/wp-content/uploads/2014/01/Screen-Shot-2014-01-30-at-11.33.59-AM.png-->
                        <img src="~/media/Gallery/Arena/Outdoor.png" class="img-responsive" />
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat urna sit amet massa porttitor, quis laoreet purus tincidunt. Donec aliquam dictum tempor. Sed pulvinar purus non odio ullamcorper imperdiet. In et vulputate nulla, sed fringilla orci. Quisque non mauris id risus imperdiet tristique. Praesent suscipit vel quam a hendrerit. Curabitur pretium sapien nec dui dictum tincidunt rutrum sed sapien. Suspendisse odio felis, facilisis a felis eu, tincidunt molestie elit. Maecenas ornare ante id malesuada luctus. Phasellus in vehicula ex. Nullam faucibus porta odio, a bibendum ex lacinia ac. Suspendisse finibus nisi vitae justo mattis, malesuada mattis magna rhoncus. Aliquam ullamcorper nunc scelerisque, bibendum nibh ut, aliquet diam. In in nibh nec arcu cursus semper sed sit amet quam. Quisque ut pretium justo, vel auctor lectus.
                    </p>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non augue arcu. Maecenas efficitur, purus a lacinia hendrerit, dui mi dignissim nunc, a mattis dolor sapien ut purus. Donec sodales justo vitae felis dignissim iaculis. Duis vel elementum justo, a gravida dolor. Sed feugiat commodo nisi vitae dignissim. Mauris pellentesque, massa tincidunt ultricies fermentum, orci nulla congue augue, at posuere mauris mi rhoncus erat. Morbi ut dolor sed odio mattis aliquam id sed urna.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Indoor Arena</h4>
                    <div class="col-lg-5">
                        <!--https://previews.123rf.com/images/acceptphoto/acceptphoto1607/acceptphoto160700096/60468523-empty-riding-arena-is-suitable-for-dressage-horses.jpg-->
                        <img src="~/media/Gallery/Arena/Indoor.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Quisque eu libero sed est volutpat efficitur in ac neque. Nam condimentum consectetur feugiat. Cras tincidunt diam at condimentum bibendum. Duis aliquet tortor est, ac suscipit justo sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tristique mollis purus. Pellentesque ex ex, viverra ut tristique non, ullamcorper vitae urna. Pellentesque vel sapien nisi. Mauris luctus libero at augue convallis pellentesque. Etiam luctus viverra eros vel consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt egestas maximus. Nam ac pellentesque nunc, ac pharetra purus.
                    </p>
                    <p>
                        Curabitur commodo ornare tellus, a fringilla felis pretium ac. Sed id turpis at ante vulputate convallis. Morbi iaculis arcu in nibh eleifend bibendum. Maecenas aliquam semper tempus. In dignissim, dui in pulvinar efficitur, tellus lorem pharetra mi, sit amet faucibus ligula arcu sed dolor. Praesent at diam consequat, iaculis diam eu, porta dui. Pellentesque commodo posuere eros finibus mollis. Nullam urna dui, condimentum vitae purus elementum, imperdiet finibus velit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
