
@{
    ViewBag.Title = "Services and Facilities - Coaching";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesOverview">Overview</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesBoarding">Boarding</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesArena">Arena</a></li>
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="ServicesCoaching">Coaching</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="ServicesEvents">Events</a></li>
        </ul>
    </div>
    <div class="container-fluid col-lg-9 col-md-9 col-sm-8 col-xs-8">

        <div class="panel panel-default">
            <div class="panel-heading">Coaching</div>
            <div class="panel-body">
                <div class="section">
                    <h4>Horse Lessons for Kids</h4>
                    <div class="col-lg-5">
                        <!--https://www.peterashleyactivitycentres.co.uk/wp-content/uploads/2017/01/Fort_Widley_Equestrian_Horse_Riding_Lessons_Small.jpg?x80624 -->
                        <img src="~/media/Gallery/Training/LessonChildren.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Morbi porttitor hendrerit lacus ac posuere. Curabitur fringilla nisi quis elit dignissim, nec mattis orci venenatis. Proin hendrerit, sapien et efficitur lobortis, urna turpis porta nibh, a dapibus est nibh interdum risus. Suspendisse auctor nibh eu risus faucibus, aliquet ullamcorper massa imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse feugiat eros quis libero ornare pellentesque. Nam non lacus sagittis, ultricies urna a, feugiat libero. Nam fringilla mi dui, fermentum venenatis elit fermentum vel. Nam sed ullamcorper sapien. Vestibulum varius erat vitae erat dignissim, id interdum elit volutpat. Curabitur non magna accumsan sapien commodo dignissim. Donec porttitor sollicitudin tincidunt.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Dressage Lessons</h4>
                    <div class="col-lg-5">
                        <!--http://www.high50.com/wp-content/uploads/2014/12/First-horse-riding-lesson-at-50-620-Photo-from-Stocksy.jpg-->
                        <img src="~/media/Gallery/Training/LessonsDressage.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Pellentesque vestibulum fermentum leo, ac tincidunt risus egestas vel. Vivamus dui ante, gravida a sem vel, interdum finibus erat. Donec consequat scelerisque rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus eu sagittis magna, congue vulputate eros. Donec maximus neque vitae velit vulputate lacinia. Duis iaculis finibus feugiat. Donec iaculis vitae est quis vestibulum. In hac habitasse platea dictumst. Morbi sed lectus purus. Duis in suscipit tellus, vitae semper lectus. Etiam aliquam nisl et urna egestas, et suscipit nunc viverra. Nam in tempor arcu, tristique ornare urna. Etiam rhoncus sapien eu urna aliquet vestibulum. Ut vulputate dui ut suscipit scelerisque.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Jumping Lessons</h4>
                    <div class="col-lg-5">
                        <!--https://www.experiencedays.co.uk/images/Surrey-Horse-Riding-Lesson-Gift-Voucher-1920x1080-resize.jpg-->
                        <img src="~/media/Gallery/Training/LessonJumping.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Pellentesque in finibus sapien, eu ultrices erat. In hac habitasse platea dictumst. Fusce lacinia at lacus ut semper. Suspendisse feugiat malesuada magna. Donec sagittis orci ac finibus mattis. Pellentesque ornare felis at magna euismod pharetra. Nunc tristique, libero at rutrum accumsan, nisi lacus sollicitudin massa, in auctor justo turpis vel sem. Fusce id augue eget dolor euismod eleifend. Ut vel fringilla nisi, eget efficitur magna. Suspendisse potenti. In volutpat vulputate nibh, sed convallis nisl maximus malesuada. Donec fermentum nibh urna, at congue massa fringilla non. Proin varius, felis id fringilla volutpat, nulla ipsum maximus sapien, sit amet eleifend metus nisl vel magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                </div>
                <hr />
                <div class="section">
                    <h4>Horse Training</h4>
                    <div class="col-lg-5">
                        <!--https://www.arkagency.com//wp-content/uploads/2014/06/Horse-Training.jpg-->
                        <img src="~/media/Gallery/Training/Training.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Fusce eget sapien iaculis, fermentum purus ut, congue velit. Etiam consectetur varius malesuada. Donec eros orci, cursus vitae ligula ac, bibendum venenatis ex. Sed bibendum augue sit amet nibh ultrices fermentum. Sed viverra scelerisque arcu nec fermentum. Donec dui libero, maximus vitae viverra sit amet, maximus porttitor sem. Etiam aliquam nulla eget egestas semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris faucibus purus eu nisl pretium, vitae malesuada libero posuere. Proin faucibus quis est sed elementum. Nam semper mi mauris, luctus lacinia odio sodales in. Vivamus sagittis lorem eros, nec laoreet risus dignissim ut. Aliquam erat volutpat. Aliquam suscipit vitae orci id tincidunt.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Clinics</h4>
                    <div class="col-lg-5">
                        <!--https://dressagetoday.com/.image/t_share/MTQ0NzkwODIyOTQ0OTA4OTQ3/dt-01-robert-dover-horsemanship.jpg-->
                        <img src="~/media/Gallery/Training/Clinic.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Phasellus blandit, dolor ut tristique eleifend, metus risus condimentum justo, sit amet commodo augue eros vel nisi. Sed in malesuada erat, non dictum erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent ut scelerisque tellus. Praesent mollis mattis eros, mattis imperdiet mauris vehicula feugiat. Praesent facilisis odio lacinia varius porttitor. Aenean a tortor eu sem commodo iaculis a id augue. In porta justo in massa pharetra pretium id et mi. Curabitur venenatis porta quam, quis egestas tellus. Etiam convallis tellus quis leo maximus fermentum.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
