
@{
    ViewBag.Title = "Services and Facilities - Events";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesOverview">Overview</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesBoarding">Boarding</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesArena">Arena</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="ServicesCoaching">Coaching</a></li>
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="ServicesEvents">Events</a></li>
        </ul>
    </div>
    <div class="container-fluid col-lg-9 col-md-9 col-sm-8 col-xs-8">

        <div class="panel panel-default">
            <div class="panel-heading">Events</div>
            <div class="panel-body">
                <div class="section">
                    <h4>Outdoor Arena</h4>
                    <div class="col-lg-5">
                        <!--https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/14/2016/03/SHOWING-TIPS-MM-large5-600x400.jpg-->
                        <img src="~/media/Gallery/Events/HorseShow1.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Sed pellentesque et elit sit amet congue. Proin ornare dui et arcu semper, vitae ullamcorper dui rutrum. Donec mauris diam, ultricies sollicitudin accumsan at, laoreet non ante. Nam neque metus, scelerisque in vulputate vitae, aliquet ut magna. Praesent sed quam sit amet ipsum auctor rhoncus. Nulla pellentesque erat et nibh imperdiet suscipit. Quisque hendrerit dui id neque tincidunt malesuada. Ut at ultricies erat. Duis quis nisl a justo congue hendrerit. Morbi suscipit id nisl auctor interdum. Nunc in fermentum urna, id posuere dolor. Donec tincidunt vulputate turpis a euismod. Nulla porta urna eros. Mauris eleifend tempor elit scelerisque congue.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Integer auctor diam at nisi volutpat rutrum. Aliquam velit lacus, molestie nec porttitor sit amet, rutrum et felis. In massa ex, rhoncus quis est at, tempor mattis dolor. Cras sodales maximus ipsum, non semper ligula fermentum sed. Maecenas fermentum posuere ex ac varius. Aenean consectetur hendrerit urna et egestas. In pellentesque rhoncus sem, quis aliquet dui faucibus ac. Proin at tincidunt nulla, eget blandit nisl.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>School Trips</h4>
                    <div class="col-lg-5">
                        <!--https://www.somersetcountyparks.org/activities/birthdayParties/LSS_BP2.jpg-->
                        <img src="~/media/Gallery/Events/SchoolTrip.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Sed eu lobortis lorem, ac posuere neque. Phasellus in molestie sapien, ut malesuada lectus. Vestibulum arcu ex, imperdiet feugiat ligula nec, posuere cursus felis. Aliquam laoreet ligula id metus consequat rutrum. In vulputate laoreet sapien, eu vehicula metus tincidunt tincidunt. Etiam rhoncus bibendum urna id ullamcorper. Etiam mollis mi vel porttitor congue. Morbi pulvinar sem quis orci pretium fringilla. In vehicula nulla ac nisi sagittis, ac congue diam pulvinar. Quisque risus neque, cursus sed posuere quis, luctus at sem. Phasellus volutpat sem lacus, nec mattis urna elementum quis. Aenean a ex a dolor pulvinar porta nec sed lectus. Phasellus vel suscipit justo. Phasellus tincidunt condimentum accumsan.
                    </p>
                </div>
                <hr />
                <div class="section">
                    <h4>Seasonal Parties</h4>
                    <div class="col-lg-5">
                        <!--http://bernardfamily.ca/photos/riding/20061217stableparty03.jpg-->
                        <img src="~/media/Gallery/Events/Seasonal-Xmas.jpg" class="img-responsive" />
                    </div>
                    <p>
                        Curabitur mauris ante, fringilla in sagittis non, feugiat id urna. Nulla venenatis convallis dui. Etiam quis lacinia leo, et aliquet augue. Pellentesque quis lacus facilisis, malesuada elit in, malesuada turpis. Aenean magna lectus, dapibus nec nulla et, lacinia convallis mi. Sed sem quam, efficitur in lobortis sit amet, malesuada quis quam. Nullam scelerisque metus at venenatis pellentesque. Quisque lectus lorem, elementum nec purus eu, lobortis ultricies libero. Vestibulum fermentum in quam in placerat.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
