@model StableManager.Models.Bill

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h2>Create</h2>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BillFrom" class="control-label"></label>
                <input type="date" asp-for="BillFrom" class="form-control date-selection-correction" />
                <span asp-validation-for="BillFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillTo" class="control-label"></label>
                <input type="date" asp-for="BillTo" class="form-control date-selection-correction" />
                <span asp-validation-for="BillTo" class="text-danger"></span>
            </div>
  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script language="javascript">
    var menuItem = document.getElementById("ManageBills").className = "active";
</script>